---
import LoginForm from '../components/react/Login.jsx';
---
<html lang="en">
    <head>
        <title>Login Form</title>
    </head>
    <body>
        <LoginForm client:load />
    </body>
</html>