---
import RegisterForm from "../components/react/Register";
---
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="/styles/global.css">
    </head>
    <body>
        <RegisterForm client:load />
    </body>
</html>