---
import currents from "../components/img/currents.jpg";
---
<div class="p-6 bg-black text-white min-h-screen w-full">
  <section class="grid grid-cols-2 gap-4 mb-8">
    <div class="current-session bg-yellow-500 rounded-xl  w-50 h-60">
      <div class="z-1 w-full h-full  flex justify-around"> <div class="relative right-10 top-10 text-black text-3xl font-arial font-bold"><p>Current Sessions</p></div>
      <div class="relative top-40  bg-black rounded xl h-10 w-20 items-center flex justify-center text-white hover:scale-110  ease-in-out hover:shadow-[0_0_15px_3px_rgba(125,139,174,0.8)] "><button>Start</button></div>
      </div>
    </div>
    <div class="practice-card bg-orange-700 rounded-xl w-50 h-60 flex flex-col justify-between">
      <div class="z-1 w-full h-full flex justify-around"><div class="relative right-10 top-10 text-black text-3xl font-arial font-bold"><p>Practice</p></div> 
      <div class="relative top-40  bg-black rounded xl h-10 w-20 items-center flex justify-center text-white hover:scale-110  ease-in-out hover:shadow-[0_0_15px_3px_rgba(125,139,174,0.8)] "><button >Lesson</button></div>
    </div>
      
    </div>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-bold mb-4">Based on your Progress</h2>
    <div class="grid grid-cols-2 gap-4">
      <div class="flex justify-between items-center bg-pink-500 rounded-lg p-4 h-48">
        <div>Active Recall</div>
        <div>5min</div>
      </div>
      <div class="flex justify-between items-center bg-teal-500 rounded-lg p-4">
        <div>Next Events</div>
        <div>3/weeks</div>
      </div>
    </div>
  </section>

  <section>
    <div class="flex space-x-4 overflow-x-auto justify-around text-center ">
      <div class="min-w-[200px] bg-pink-500 rounded-lg p-4 h-28">Grammar</div>
      <div class="min-w-[200px] bg-teal-500 rounded-lg p-4">Vocabulary</div>
      <div class="min-w-[200px] bg-orange-500 rounded-lg p-4">Podcasts</div>
      <div class="min-w-[200px] bg-yellow-500 rounded-lg p-4">Reading</div>
    </div>
  </section>
</div>

<style>
    .current-session {
        background-image: url("../components/img/currents.jpg");
        background-size:  100% ;
        background-position: center;
        background-repeat:no-repeat ;
        border:1px solid #ccc;
        
    }
    .practice-card {
        background-image: url("../components/img/taco.webp");
        background-size:cover ;
        background-position: center;
        background-repeat:no-repeat ;
        border:1px solid red;
        position:relative;
        
        
        
    }
</style>