---
import Navbar from "../components/navbar.astro"
import Main from "../components/main.astro"
---
<div class="flex ">
    <Navbar class="fixed top-0 left-0 h-screen w-[5%] bg-black z-99" />
    <Main class="ml-[5%] w-[90%] bg-black min-h-screen text-white flex-1" />
</div>